@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F2EAE2;
}

.text-header-1 {
    color: var(--Aurometal-Saurus, #6C7289);
    font-feature-settings: 'liga' off, 'clig' off;
    /* Overline */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
}

.text-header-2 {
    color: var(--Gunmetal, #1C232B);
    font-feature-settings: 'liga' off, 'clig' off;
    /* Display */
    font-style: normal;
    font-weight: 700;
    font-optical-sizing: auto;
    font-family: "Fraunces", serif;
    font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.main-text {
    color: var(--Aurometal-Saurus, #6C7289);
    font-feature-settings: 'liga' off, 'clig' off;
    /* Body */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    /* 164.286% */
}

.price-text {
    color: var(--Deep-Aquamarine, #3D8168);
    font-feature-settings: 'liga' off, 'clig' off;
    /* Display */ 
    font-style: normal;
    font-weight: 700;
    font-optical-sizing: auto;
    font-family: "Fraunces", serif;
    font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
    /* 100% */
}

.discount-price-text {
    color: var(--Aurometal-Saurus, #6C7289);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    text-decoration-line:line-through;
}

.add-to-cart-text {
    color: var(--Pure-White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    /* Button Text */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cart-button {
    background-color: #3D8168;
}

.cart-button:hover {
    background-color: #1A4032;
}